{% extends 'base2.html' %}

{% load crispy_forms_tags %}

{% block tittle%} Add pet {%endblock%}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card" id="content-register">
                <div class="card-body">
                    <h3 class="text-center " style="color:dimgrey "> Update</h3>
                    <hr>
                    <form method="POST">

                        {% csrf_token %}
                        {% if status %}
                        <h2>{{status}}</h2>
                        {% endif %}
                        {%if error%}
                        <h2>{{error}}</h2>
                        {% endif %}
                        {% if pet_form %}
                        {{ pet_form | crispy }}

                        <input type="submit" name="submit" class="btn btn-success btn-md" value="Add">
                        <a class="btn btn-dark" href="{% url 'petList' user.id%}"> Cancel </a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
