{% extends 'base2.html' %}

{% load crispy_forms_tags %}

{% block tittle%} Update User {%endblock%}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card" id="content-register">
                <div class="card-body">
                    {% if user.id == client %}
                    <h3 class="text-center " style="color:dimgrey "> Appointment Update</h3>
                    <hr>
                    <form action="" method="POST">

                        {% csrf_token%}
                        {{ appointForm | crispy }}

                        <input type="submit" name="submit" class="btn btn-success btn-md" value="submit">
                        <a class="btn btn-dark" href="{% url 'list_appoint' user.id%}"> Cancel </a>
                    </form>
                    {% else %}
                    <div>
                        <h3>You do not have acces to this informations</h3>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

