{% extends 'base2.html' %}

{% load crispy_forms_tags %}

{% block tittle%} Register {%endblock%}

{%block navbar%} {%endblock%}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card" id="content-register">
                <div class="card-body">
                    <h3 class="text-center " style="color:dimgrey ">Appointment</h3>
                    <hr>
                    <form method="POST">
                        <div class="pet">
                            <p>Select your pet:</p>
                        <select class="form-select" name="pets" style="margin-bottom: 12px">

                            {%for pet in pets%}
                                 <option>{{pet}}</option>
                            {%endfor%}
                        </select>

                        {% csrf_token%}
                        {{ form |crispy }}
                        <p>Insert Time:

                            <input  
                                    id="datetimepicker3"
                                    type="time"
                                    name="eta"
                            />
                        </p>

                        <input type="submit" name="submit" class="btn btn-success btn-md" value="submit">
                        <a class="btn btn-dark" href="{% url 'list_appoint' user.id%}"> Cancel </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

