{% extends 'base2.html' %}

{% block tittle%} User list {%endblock%}

{% block content %}
<br />
<br />
<br />
<div class="container">
    <h3 class="text-center" style="color: #181818">Appointment list</h3>
    <table id="tabla" class="table" style="
      border: 1px solid darkgrey;
      border-radius: 20px;
      background-color: #20c997;
      opacity: 0.9;
      color:#181818
    ">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Pet</th>
                <th scope="col">Type of service</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            
            {% for item in list %}
            <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.pet}}</td>
                <td>{{item.type_service}}</td>
                <td>{{item.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}