{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block tittle%} Register {%endblock%}

{%block navbar%} {%endblock%}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card" id = "content-register">
                <div class="card-body">
                    <h3 class="text-center " style="color:dimgrey "> Please Register Here!</h3>
                    <hr>
                    <form method="POST">

                        {% csrf_token%}
                        {{ register_form | crispy }}

                        <input type="submit" name="submit" class="btn btn-success btn-md" value="submit">
                        <a class="btn btn-dark" href="{% url 'login'%}"> Cancel </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}