{%extends 'base2.html' %}


{%block tittle%}View User {%endblock%}

{% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card" id="content-register">
                <div class="card-body">
                    <h2 class="text-center " style="color:dimgrey ">Hola {{user.first_name}} {{user.last_name}}</h2>
                    <hr>
                    <h3>Mis datos</h3>
                    <hr>
                    Username: <h4>{{user.username}}</h4>
                    <hr>
                    Email: <h4>{{user.email}}</h4>
                    <hr>
                    Phone: <h4>{{user.cell_phone}}</h4>
                    <hr>
                    Address: <h4>{{user.address}}</h4>
                    <hr>
                    <a class="btn btn-success" href="{% url 'update_user' user.id%}"> Update </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}



